/* General layout */
body {
    padding: 0 !important;
    overflow: hidden;
    color: black;
    display: grid;
    grid-template-areas:
  "header header"
  "side main"
  "footer footer";
  grid-template-columns: auto 1fr; 
  transition: grid-template-columns 0.5s ease-in-out;
}

body:has(#nav-checkbox:checked) {
    grid-template-columns: auto 1fr; 
    transition: grid-template-columns 0.5s ease-in-out;

    > * {
        transition: 0.5s ease-in-out !important;
    }

    grid-template-columns: 150px auto;

    & section {
        justify-content: start;
        width: calc(10em + 20px); 

        & ul {
            align-items: flex-start;
            overflow: hidden;
        }

        & ul li label {
            display: none;
        }

        & ul li a span {
            display: initial;
            opacity: 1;
            transition: opacity 10s ease-in-out;
        }

        & label {
            display: flex;
        }
    }
}

body:has(#nav-checkbox:checked) {
    grid-template-columns: auto 1fr; 
    transition: grid-template-columns 0.5s ease-in-out;
}

/* Header layout */
body > header {
    height: 50px;
    padding: var(--space);
    grid-area: header;
    gap: 15px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;

    & h1 {
        font-size: 1.75rem;
        margin: 0;
        flex-grow: 1;
    }
}

/* Section layout */
body > section {
    position: relative;
    padding: 0 var(--space);
    justify-content: center;
    border-right: 1px solid var(--border-color);
    grid-area: side;
    width: calc(3em + 20px);
    transition: width 0.5s ease-in-out;

    & ul {
        align-items: center;
        list-style-type: none;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & li {
            white-space:nowrap;
            overflow: hidden;
        }

        & li > a {
            color: #999;
            font-size: 14px;
            text-decoration: none;
        }

        & li > a:hover {
            color: black;
        }

        & li > a > span {
            display: none;
            opacity: 0;
            transition: opacity 20s ease-in-out; 
        }
    }
}

#nav-checkbox:checked + section .close-button {
    display: block; 
}

#nav-checkbox {
    display: none;
    cursor: pointer;
}

#nav-control:hover {
    cursor: pointer;
}

.close-button {
    display: none;
    align-items: center;
    place-content: center;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    background: rgba(211, 211, 211, 0.8);
    transition: display 0.5s ease-in-out;
}

/* Main layout */
body > main {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    grid-area: main;
    height: calc(100vh - 90px); 
    overflow-y: scroll;
    padding: var(--space)
}

/* Article layout */
article {
    & main {
        place-items: flex-start;
    }
}

/* Footer layout */
body > footer {
    height: 40px;
    grid-area: footer;
    border-top: 1px solid var(--border-color);
    background-color: #f0f0f0;
    text-align: center;
    place-content: center;
}

/* Smaller Devices layout */
@media screen and (min-width: 992px) {
    body {
        grid-template-columns: 150px auto;

        & section {
            justify-content: start;
        }

        & ul li a span {
            display: initial;
        }
    }
}


/*
Media queries (use bootstrap breakpoints)
xs < 576px
sm >= 576 px
md >= 768px
lg >= 992px
xl >= 1200px
xxl >= 1400px
*/

